<!DOCTYPE html>
<html>
  <head>
    <title>Status Page</title>
  </head>
  <body>
    <h1>Status Page</h1>
    {% for bot in bot_statuses %}
      <h2>{{ bot.name }}</h2>
      <p>Status: {{ bot.status }}</p>
      <p>CPU Usage: {{ bot.cpu_usage }}</p>
      <p>Memory Usage: {{ bot.memory_usage }}</p>
      {% if bot.status == 'stopped' %}
		<form action="{{ url_for('status') }}" method="POST">
			<input type="hidden" name="bot_name" value="{{ bot.name }}">
			<input type="hidden" name="action" value="start">
			<button type="submit">Start</button>
		</form>
	
      {% elif bot.status == 'running' %}
        <form action="{{ url_for('status') }}" method="POST">
          <input type="hidden" name="bot_name" value="{{ bot.name }}">
          <input type="hidden" name="action" value="stop">
          <button type="submit">Stop</button>
        </form>
      {% endif %}
      <hr>
    {% endfor %}
    <h2>Network Stats</h2>
    <p>Sent: {{ network_stats.sent }}</p>
    <p>Received: {{ network_stats.received }}</p>
  </body>
</html>
